@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-display: block;
    font-weight: $weight;
    font-style: $style;
  }
}

// @include font-face('Montserrat-Regular', '../fonts/montserrat/Montserrat-Regular', 400, 'normal');