@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin bgs-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin tablet {
  @media (max-width: (1024px)) {
		@content;
	}
}

@mixin mobile {
  @media (max-width: (480px)) {
		@content;
	}
}