// Colors
$color-white: #fff;
$color-black: #000;
$color-red: #FF3434;
$color-red-light: #FF5F5F;
$color-gray: #444863;
$color-gray-light: #595F81;
$color-gray-dark: #242739;
$color-gray-darked: #0D0F1D;

// Sizes
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;


// Animation
$transition-base: all 0.25s ease-out;

// Fonts
