// Colors
$color-white: #fff;
$color-black: #000;

// Sizes
$tablet: 992px;
$large: 1200px;
$desktop: 1200px;
$mobile: 576px;

// Animation
$transition-base: all 0.25s ease-out;

// Fonts
$roboto: 'roboto';