mixin modalRepairs(data)
    .modal.fade#repairNotebook(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    .modal-item
                        img.modal-image(src="/images/notebook.png" alt="@@")
                        h5.modal-title
                            | Ремонт ноутбуков MSI
                            .modal-label
                                +icon('arrow-right')

                    button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
                        +icon('close')
                .modal-body
                    .price
                        .price__head
                            .price__item
                                | Тип поломки
                            .price__item
                                | Время работы
                            .price__item
                                | Гарантия
                            .price__item
                                | Стоимость
                        .price__body
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Выезд мастера
                                .price__item
                                    | от 30 минут
                                .price__item
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | Бесплатно
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Диагностика
                                .price__item
                                    | от 1 дня
                                .price__item
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | Бесплатно
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена дисплея
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 785 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена HDD
                                .price__item
                                    | 1 день
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Ремонт клавиатуры
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена кулера
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена ОЗУ
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена порта USB
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена разъема питания
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена северного моста
                                .price__item
                                    | от 3 до 14 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена термопасты
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 2 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 598 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена шлейфа
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена wi-fi модуля
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Лечение вирусов
                                .price__item
                                    | 1 день
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 425 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка корпуса
                                .price__item
                                    | от 1 до 5 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка и замена матрицы
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка и замена разъемов
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка материнской платы
                                .price__item
                                    | от 1 до 14 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка после залития
                                .price__item
                                    | от 1 до 14 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 780 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Установка и настройка Windows
                                .price__item
                                    | 1 день
                                .price__item
                                    | 2 недели
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 425 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Установка или замена процессора
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена звуковой карты 
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 520 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена блока питания
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 655 ₽
                .feedback
                    .feedback__title
                        | Не знаете что случилось? Оставьте заявку и мы бесплатно проконсультируем вас
                    form.feedback__form(action="/" method="post")
                        .feedback__field
                            input.feedback__input.input(type="text" name="name" placeholder="Ваше имя")
                            input.feedback__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
                            button.feedback__button.button
                                | оставить заявку
                        .feedback__text
                            | Нажимая кнопку “Оставить заявку”, я даю согласие на обработку персональных данных
    
    .modal.fade#repairDesktop(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    .modal-item
                        img.modal-image(src="/images/pc.png" alt="@@")
                        h5.modal-title
                            | Ремонт компьютеров MSI
                            .modal-label
                                +icon('arrow-right')

                    button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
                        +icon('close')
                .modal-body
                    .price
                        .price__head
                            .price__item
                                | Тип поломки
                            .price__item
                                | Время работы
                            .price__item
                                | Гарантия
                            .price__item
                                | Стоимость
                        .price__body
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Выезд мастера
                                .price__item
                                    | от 30 минут
                                .price__item
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | Бесплатно
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Диагностика
                                .price__item
                                    | от 1 дня
                                .price__item
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | Бесплатно
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена дисплея
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена HDD
                                .price__item
                                    | 1 день
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Ремонт клавиатуры
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена кулера
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена ОЗУ
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена порта USB
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена разъема питания
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена северного моста
                                .price__item
                                    | от 3 до 14 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена термопасты
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 2 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 455 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена шлейфа
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена wi-fi модуля
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Лечение вирусов
                                .price__item
                                    | 1 день
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 325 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка корпуса
                                .price__item
                                    | от 1 до 5 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка и замена матрицы
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка и замена разъемов
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка материнской платы
                                .price__item
                                    | от 1 до 14 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка после залития
                                .price__item
                                    | от 1 до 14 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 595 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Установка и настройка Windows
                                .price__item
                                    | 1 день
                                .price__item
                                    | 2 недели
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 325 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Установка или замена процессора
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена звуковой карты 
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 395 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена блока питания
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 495 ₽
                .feedback
                    .feedback__title
                        | Не знаете что случилось? Оставьте заявку и мы бесплатно проконсультируем вас
                    form.feedback__form(action="/" method="post")
                        .feedback__field
                            input.feedback__input.input(type="text" name="name" placeholder="Ваше имя")
                            input.feedback__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
                            button.feedback__button.button
                                | оставить заявку
                        .feedback__text
                            | Нажимая кнопку “Оставить заявку”, я даю согласие на обработку персональных данных
    
    .modal.fade#repairMono(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    .modal-item
                        img.modal-image(src="/images/mono.png" alt="@@")
                        h5.modal-title
                            | Ремонт моноблоков MSI
                            .modal-label
                                +icon('arrow-right')

                    button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
                        +icon('close')
                .modal-body
                    .price
                        .price__head
                            .price__item
                                | Тип поломки
                            .price__item
                                | Время работы
                            .price__item
                                | Гарантия
                            .price__item
                                | Стоимость
                        .price__body
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Выезд мастера
                                .price__item
                                    | от 30 минут
                                .price__item
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | Бесплатно
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Диагностика
                                .price__item
                                    | от 1 дня
                                .price__item
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | Бесплатно
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена дисплея
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 685 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена HDD
                                .price__item
                                    | 1 день
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Ремонт клавиатуры
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена кулера
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена ОЗУ
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена порта USB
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена разъема питания
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена северного моста
                                .price__item
                                    | от 3 до 14 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена термопасты
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 2 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 520 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена шлейфа
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена wi-fi модуля
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Лечение вирусов
                                .price__item
                                    | 1 день
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 370 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка корпуса
                                .price__item
                                    | от 1 до 5 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка и замена матрицы
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | до 3 лет
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка и замена разъемов
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка материнской платы
                                .price__item
                                    | от 1 до 14 дней
                                .price__item
                                    | 3 месяца
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Починка после залития
                                .price__item
                                    | от 1 до 14 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 680 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Установка и настройка Windows
                                .price__item
                                    | 1 день
                                .price__item
                                    | 2 недели
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 370 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Установка или замена процессора
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена звуковой карты 
                                .price__item
                                    | 1 день
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 450 ₽
                            .price__field(data-toggle="modal" data-target="#modal" data-dismiss='modal')
                                .price__item.price__item--bold
                                    | Замена блока питания
                                .price__item
                                    | от 1 до 3 дней
                                .price__item
                                    | 1 месяц
                                .price__item
                                    | Оставить заявку +
                                .price__item.price__item--bold
                                    | от 570 ₽
                .feedback
                    .feedback__title
                        | Не знаете что случилось? Оставьте заявку и мы бесплатно проконсультируем вас
                    form.feedback__form(action="/" method="post")
                        .feedback__field
                            input.feedback__input.input(type="text" name="name" placeholder="Ваше имя")
                            input.feedback__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
                            button.feedback__button.button
                                | оставить заявку
                        .feedback__text
                            | Нажимая кнопку “Оставить заявку”, я даю согласие на обработку персональных данных

mixin modal(data)
    .modal.fade#modal(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    .modal-item.modal-item--column
                        h5.modal-title
                            | Напишите нам
                        p
                            | И получите бесплатную консультацию и скидку 15% на все виды ремонта

                    button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
                        +icon('close')
                .modal-body
                    .feedback.feedback--full
                        form.feedback__form(action="/" method="post")
                            .feedback__field
                                input.feedback__input.input(type="text" name="name" placeholder="Ваше имя")
                                input.feedback__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
                                button.feedback__button.button
                                    | оставить заявку
                            .feedback__text
                                | Нажимая кнопку “Оставить заявку”, я даю согласие на обработку персональных данных