extends layout/main

block variables
	-var title = 'ProMSI | Ремонт компьютеров'

block content

	// BEGIN main

	.main
		.container
			.main__body
				img.main__pc(src="/images/main-pc.png" alt="")
				.main__content
					.main__title
						| Выездной ремонт MSI
					.main__desc
						| #[span с гарантией 1 год], благодаря своему складу запчастей

				form.main__form(action="/" method="post")
					input.main__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
					button.main__button.button
						| Узнать стоимость
				p.main__text
					| Нажимая кнопку “Узнать стоимость”, я даю согласие на обработку персональных данных

			ul.main__list
				li.main__item
					.main__line
						span
						span
						span
						span
						span
						span
					.main__icon
						+icon('delivery')
					.main__text
						| Мастер бесплатно отправится к вам уже через 3 минуты после обращения
				li.main__item
					.main__line.main__line--second
							span
							span
							span
							span
							span
							span
					.main__icon
						+icon('pc')
					.main__text
						| 93% неполадок наши квалифицированные мастера устраняют в течение часа
				li.main__item
					.main__icon
						+icon('certificate')
					.main__text
						| Мы устанавливаем оригинальные комплектующие и предоставляем клиенту чек и гарантийный талон

			.main__tags
				.main__down
					.main__icon
						+icon('arrow-down')
				.main__words
					.main__item
						| #Замена платы

					.main__item
						| #чистка компьютера

					.main__item
						| #установка процессора

					.main__item
						| #установка оперативной памяти

					.main__item
						| #замена

	// END main

	// BEGIN causes

	.causes
		.causes__container.container
			.causes__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-1.png" alt="")
			.causes__title
				| Почему мы?
			.causes__list
				.causes__item
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Перезвоним через 1 минуту
						.causes__text
							| Если вам придется ждать дольше, подарим бонус или скидку

				.causes__item.causes__item--long.causes__item--dark
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Открытая ценовая политика
						.causes__text
							| Стоимость ремонта обсуждается с клиентом заранее, никаких доплат, все абсолютно прозрачно

				.causes__item.causes__item--dark
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Бесплатный выезд и диагностика
						.causes__text
							| Вам не придется отдельно платить за выезд мастера и проведение диагностики

				.causes__item
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| 10 лет на рынке компьютерных услуг
						.causes__text
							| Квалификация наших мастеров подтверждена огромных опытом в сфере компьютерных услуг

				.causes__item.causes__item--dark
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Ремонт в удобное для Вас время
						.causes__text
							| Мы работаем без выходных и готовы выполнить ремонт с 10 утра до 10 вечера

			.causes__button.button
				| Узнать стоимость ремонта

	// END causes

	// BEGIN services

	.services
		.services__.container
			.services__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-2.png" alt="")
			.services__block
				.services__title
					| Услуги и цены
				.services__desc
					| Выберите тип устройства
			
			.services__list
				.services__item
					.services__view
						img.services__image(src="/images/notebook.png" alt="@@")
					.services__button.button
						| Ноутбук msi

				.services__item
					.services__view
						img.services__image(src="/images/pc.png" alt="@@")
					.services__button.button
						| Компьютер msi

				.services__item
					.services__view
						img.services__image(src="/images/mono.png" alt="@@")
					.services__button.button
						| моноблок msi


	// END services

	// BEGIN warranty

	.warranty.warranty--msi
		.container
			.warranty__body
				.warranty__title
					| Ремонт MSI #[br] с гарантией #[span.shadow--first 1 год]
				.warranty__field
					.warranty__text
						| #[span.warranty__text--bold с гарантией 1 год], благодаря своему складу запчастей
					.warranty__text
						| благодаря своему #[br] складу запчастей
				.warranty__button.button
					| Заказать ремонт

	// END warranty

	// BEGIN master

	.master
		.container
			.master__head
				img.master__avatar(src="/images/masters/master-1.png" alt="")
			.master__info
				.master__name
					| Василий Юрьев
				.master__desc
					| главный мастер
			.master__quote
				| Техника MSI считается надежной, но и она иногда выходит из строя. Если такое произошло с вашим устройством, вы можете рассчитывать на нашу помощь. В сервисном центре «ProMSI remont» починят ваш девайс, даже если он требует серьезного ремонта. На нашем складе всегда есть в наличии оригинальные запчасти практически для любой модели техники MSI, поэтому для ремонта потребуется минимум времени и затрат.
			.master__footer
				.master__persons
					.master__list
						img.master__item(src="/images/masters/master-2.png" alt="")
						img.master__item(src="/images/masters/master-3.png" alt="")
						img.master__item(src="/images/masters/master-4.png" alt="")
						img.master__item(src="/images/masters/master-5.png" alt="")
						img.master__item(src="/images/masters/master-6.png" alt="")
						img.master__item(src="/images/masters/master-7.png" alt="")
						.master__icon
							+icon('arrow')
					.master__text
						| Наши специалисты сделают все качественно, ведь они сертифицированные профессионалы своего дела и имеют опыт в среднем от 5 лет
				.master__desc
					.master__title
						| Только проверенные специалисты
					.master__text
						| Закажите ремонт сейчас #[br] и получите скидку 15%
					.master__button.button
						| Заказать ремонт
				

	// END master

	// BEGIN stages

	.stages
		.stages__container.container
			.stages__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-3.png" alt="")
			.stages__title
				| Как мы работаем
			.stages__list
				.stages__item
					.stages__line.stages__line--first
						span
						span
						span
						span
						span
						span
					.stages__status
						.circle.circle--first
						| 1
					.stages__title
						| Заявка на сайте
					.stages__text
						| Вы оставляете заявку, оператор перезванивает и подтверждает заказ.

				.stages__item
					.stages__line.stages__line--first
						span
						span
						span
						span
						span
						span
					.stages__status
						.circle.circle--second
						| 2
					.stages__title
						| Выезд мастера
					.stages__text
						| Мастер направляется по указанному вами адресу.

				.stages__item
					.stages__status
						.circle.circle--third
						| 3
					.stages__title
						| Диагностика
					.stages__text
						| Специалист проводит полную диагностику устройства.

				.stages__item
					.stages__line.stages__line--first
						span
						span
						span
						span
						span
						span
					.stages__status
						.circle.circle--second
						| 4
					.stages__title
						| Согласование
					.stages__text
						| Стоимость ремонта, срок и гарантийные условия согласовываются с клиентом.

				.stages__item
					.stages__line.stages__line--first
						span
						span
						span
						span
						span
						span
					.stages__status
						.circle.circle--fourth
						| 5
					.stages__title
						| Ремонт устройства
					.stages__text
						| Мастер производит необходимый ремонт или замену неисправных комплектующих.

				.stages__item
					.stages__status
						.circle.circle--first
						| 6
					.stages__title
						| Выдача и гарантия
					.stages__text
						| По завершении ремонта вы получаете исправный девайс и гарантию на фирменном бланке.
			
			.stages__button.button
				| Узнать стоимость ремонта

	// END stages

	// BEGIN warranty

	.warranty
		.container
			.warranty__body
				.warranty__title
					| Гарантия до #[span.shadow--second 365 дней] #[br] на ремонт и запчасти
				.warranty__text.warranty__text--full
					| Мы предоставляем полную гарантию на производственный ремонт и комплектующие. Работаем на свою репутацию и ваши рекомендации!
				.warranty__button.button
					| Заказать ремонт

	// END warranty

	// BEGIN options

	.options
		.container
			.options__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-4.png" alt="")
			.options__title
				| Пришло время выбрать
			.options__list
				.options__item
					.options__block-head.block-head
						.block-head__body.block-head__body--red
							img.block-head__icon(src="/images/icons/icon-5.png" alt="")
					.options__title
						| Бесплатный антивирус
					.options__button.button
						| Выбираю антивирус

				.options__item
					.options__block-head.block-head
						.block-head__body.block-head__body--blue
							img.block-head__icon(src="/images/icons/icon-5.png" alt="")
					.options__title
						| Скидка 20% на ремонт
					.options__button.button
						| Выбираю скидку

	// END options

	// BEGIN contacts

	.contacts
		.contacts__container.container
			.contacts__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-6.png" alt="")
			.contacts__title
				| Контакты
			ul.contacts__list
				li.contacts__item
					.contacts__icon
						+icon('phone')
					.contacts__content
						a.contacts__title(href="tel:+71111111111" title="")
							| +71111111111
						.contacts__text
							| Бесплатная круглосуточная консультация

				li.contacts__item
					.contacts__icon
						+icon('time')
					.contacts__content
						.contacts__text
							| Выезд на ремонт Пн-Вс: #[br] #[span.contacts__text--bold с 10:00 до 22:00]

				li.contacts__item
					.contacts__icon
						+icon('delivery')
					.contacts__content
						.contacts__text
							| Выезд мастера по городу и  до 40 км от #[br] границы города - #[span.contacts__text--bold бесплатно]

				li.contacts__item
					.contacts__icon
						+icon('box')
					.contacts__content
						.contacts__text
							| Доставка компьютера в сервисный центр #[br] и обратно

	// END contacts

	// BEGIN feedback

	.feedback
		.container
			.feedback__title
				| Оставьте заявку сейчас и получите бесплатную консультацию и скидку 15% на ремонт
			.feedback__form(action="/" method="post")
				.feedback__field
					input.feedback__input.input(type="text" name="name" placeholder="Ваше имя")
					input.feedback__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
					button.feedback__button.button
						| оставить заявку
				.feedback__text
					| Нажимая кнопку “Оставить заявку”, я даю согласие на обработку персональных данных

	// END feedback

	// BEGIN footer

	footer.footer
		.footer__container.container
			a.footer__logo.logo(href="#" title="")
				img.logo__icon(src="/images/logo-footer.png" alt="")
				.logo__content
					| ремонт #[br] компьютеров

			a.footer__link(href="#" title="")
				| Политика конфиденциальности

			p.footer__text(href="#" title="")
				| Цены на сайте не являются публичной офертой

			a.page-up(href="#" title="")
				+icon('arrow-up')

	// END footer