extends layout/main

block variables
	-var title = 'ProMSI | Ремонт компьютеров'

block content

	// BEGIN main

	.main
		.container
			.main__body
				img.main__pc(src="/images/main-pc.png" alt="")
				.main__content
					.main__title
						| Выездной ремонт MSI
					.main__desc
						| #[span с гарантией 1 год], благодаря своему складу запчастей

				form.main__form(action="/" method="post")
					input.main__input.input(type="tel" name="tel" placeholder="Ваш телефон" required)
					button.main__button.button
						| Узнать стоимость
				p.main__text
					| Нажимая кнопку “Узнать стоимость”, я даю согласие на обработку персональных данных

			ul.main__list
				li.main__item
					.main__line
						span
						span
						span
						span
						span
						span
					.main__icon
						+icon('delivery')
					.main__text
						| Бесплатный выезд мастера на дом  в течение 3 минут после обращения
				li.main__item
					.main__line.main__line--second
							span
							span
							span
							span
							span
							span
					.main__icon
						+icon('pc')
					.main__text
						| Сертифицированные мастера устранят 93% поломок в течении часа
				li.main__item
					.main__icon
						+icon('certificate')
					.main__text
						| Используем оригинальные запчасти и предоставляем чек и гарантийный талон

			.main__tags
				.main__down
					.main__icon
						+icon('arrow-down')
				.main__words
					.main__item
						| #Замена платы

					.main__item
						| #чистка компьютера

					.main__item
						| #установка процессора

					.main__item
						| #установка оперативной памяти

					.main__item
						| #замена

	// END main

	// BEGIN causes

	.causes
		.causes__container.container
			.causes__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-1.png" alt="")
			.causes__title
				| Почему мы?
			.causes__list
				.causes__item
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Перезвоним через 1 минуту
						.causes__text
							| Если Вы будете вынуждены ждать, то от нас бонус или скидка

				.causes__item.causes__item--long.causes__item--dark
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Открытая ценовая политика
						.causes__text
							| Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке соответствующий условий активизации. 

				.causes__item.causes__item--dark
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Бесплатный выезд и диагностика
						.causes__text
							| Значимость этих проблем настолько очевидна, что постоянный 

				.causes__item
					.causes__icon
					.causes__content
						.causes__title
							| 10 лет на рынке компьютерных услуг
						.causes__text
							| Товарищи! Консультация с широким активом представляет собой

				.causes__item.causes__item--dark
					.causes__icon
					.causes__content
						.causes__title
							.causes__label
							| Ремонт в удобное для Вас время
						.causes__text
							| Сфера нашей активности требуют от нас анализа новых предложений. Задача организации, в особенности

			.causes__button.button
				| Узнать стоимость ремонта

	// END causes

	// BEGIN services

	.services
		.services__.container
			.services__block-head.block-head
				.block-head__body
					img.block-head__icon(src="/images/icons/icon-2.png" alt="")
			.services__block
				.services__title
					| Услуги и цены
				.services__desc
					| Выберите тип устройства
			
			.services__list
				.services__item
					.services__view
						img.services__image(src="/images/notebook.png" alt="@@")
					.services__button.button
						| Ноутбук msi

				.services__item
					.services__view
						img.services__image(src="/images/pc.png" alt="@@")
					.services__button.button
						| Компьютер msi

				.services__item
					.services__view
						img.services__image(src="/images/mono.png" alt="@@")
					.services__button.button
						| моноблок msi


	// END services

	// BEGIN warranty

	.warranty.warranty--msi
		.container
			.warranty__body
				.warranty__title
					| Ремонт MSI #[br] с гарантией 1 год
				.warranty__field
					.warranty__text
						| #[span.warranty__text--bold с гарантией 1 год], благодаря своему складу запчастей
					.warranty__text
						| благодаря своему #[br] складу запчастей
				.warranty__button
					| Заказать ремонт

	// END warranty

	// BEGIN master

	.master
		.container
			.master__head
				img.master__avatar(src="" alt="")
				.master__name
					| Василий Юрьев
				.master__desc
					| главный мастер
			.master__quote
				| Не обязательно платить много за ремонт техники MSI, не смотря на то, что она считается премиальной. Политика нашего сервиса такова, что идейные соображения высшего порядка, а также консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. 
			.master__footer
				.masters__persons
					img.masters__item(src="" alt="")
					img.masters__item(src="" alt="")
					img.masters__item(src="" alt="")
					img.masters__item(src="" alt="")
					img.masters__item(src="" alt="")
					img.masters__item(src="" alt="")
				

	// END master

	// BEGIN stages

	.stages
		.container
			.stages__list
				.stages__item
					.stages__status
						| 1
					.stages__title
						| Заявка на сайте
					.stages__text
						| Значимость этих проблем настолько очевидна, что постоянный 

				.stages__item
					.stages__status
						| 2
					.stages__title
						| Выезд мастера
					.stages__text
						| Значимость этих проблем настолько очевидна, что постоянный 

				.stages__item
					.stages__status
						| 3
					.stages__title
						| Диагностика
					.stages__text
						| Значимость этих проблем настолько очевидна, что постоянный 

				.stages__item
					.stages__status
						| 4
					.stages__title
						| Согласование
					.stages__text
						| Значимость этих проблем настолько очевидна, что постоянный 

				.stages__item
					.stages__status
						| 5
					.stages__title
						| Ремонт устройства
					.stages__text
						| Значимость этих проблем настолько очевидна, что постоянный 

				.stages__item
					.stages__status
						| 6
					.stages__title
						| Выдача и гарантия
					.stages__text
						| Значимость этих проблем настолько очевидна, что постоянный
			
			.stages__button
				| Узнать стоимость ремонта

	// END stages

	// BEGIN warranty

	.warranty
		.container
			.warranty__body
				.warranty__title
					| Гарантия до 365 дней #[br] на ремонт и запчасти
				.warranty__text
					| Мы предоставляем полную гарантию на производственный ремонт и комплектующие. Работаем на свою репутацию и ваши рекомендации!
				.warranty__button
					| Заказать ремонт

	// END warranty

	// BEGIN options

	.options
		.container
			.contaier__icon
			.contacts__title
			.contacts__list
				.contacts__item
					.contacts__icon
					.contacts__title
						| Бесплатный антивирус
					.contacts__button
						| Выбираю антивирус

				.contacts__item
					.contacts__icon
					.contacts__title
						| Скидка 20% на ремонт
					.contacts__button
						| Выбираю скидку

	// END options

	// BEGIN contacts

	.contacts
		.container
			.contaier__icon
			.contacts__title
			ul.contacts__list
				li.contacts__item
					.contacts__icon
					.contacts__content
						.contacts__title
							| 8 800 555 35 35
						.contacts__text
							| Бесплатная круглосуточная консультация

				li.contacts__item
					.contacts__icon
					.contacts__content
						.contacts__text
							| Выезд на ремонт Пн-Вс: #[br] #[span.contacts__text--bold с 10:00 до 22:00]

				li.contacts__item
					.contacts__icon
					.contacts__content
						.contacts__text
							| Выезд мастера по городу и  до 40 км от #[br] границы города - #[span.contacts__text--bold бесплатно]

				li.contacts__item
					.contacts__icon
					.contacts__content
						.contacts__text
							| Доставка компьютера в сервисный центр #[br] и обратно

	// END contacts

	// BEGIN feedback

	.feedback
		.container
			.feedback__title
				| Оставьте заявку сейчас и получите бесплатную консультацию и скидку 15% на ремонт
			.feedback__form(action="/" method="post")
				.feedback__field
					input(type="text" name="name" placeholder="Ваше имя")
					input(type="tel" name="tel" placeholder="Ваш телефон")
				.feedback__text
					| Нажимая кнопку “Оставить заявку”, я даю согласие на обработку персональных данных

	// END feedback

	// BEGIN footer

	footer.footer
		.container
			.logo
				.logo__icon
				.logo__content
					| ремонт #[br] компьютеров

			a.footer__link(href="#" title="")
				| Политика конфиденциальности

			p.footer__text(href="#" title="")
				| Цены на сайте не являются публичной офертой

			a.page-up(href="#" title="")
				.page-up__icon

	// END footer