mixin head(data)
    - data = data || {};
    head
        meta(charset='utf-8')
        
        meta(name='viewport', content='width=320, initial-scale=1')
        link(rel="apple-touch-icon", sizes="60x60", href="../img/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="../img/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="../img/favicon-16x16.png")
        link(rel="manifest", href="../img/site.webmanifest")
        link(rel="mask-icon", href="../img/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        // htmlbuild:css 
        link(rel='stylesheet', href='../styles/libs/normalize.css', media="all")
        link(rel='stylesheet', href='../styles/fonts.css', media="all")
        link(rel='stylesheet', href='../styles/libs/animate.css', media="all")
        link(rel='stylesheet', href='../styles/libs/swiper.css', media="all")
        link(rel='stylesheet', href='../styles/libs/bootstrap-grid.css', media="all")
        // endbuild 
        link(rel='stylesheet', href='../styles/style.css', media="all")
        
        title!=data.title
        meta(name="description" content = data.description)
        meta(name="keywords" content = data.keywords)