include ../components/head/head
include ../components/button/button

doctype html
html(lang='ru')

    +head({
        title: '111',
        description: '222',
        keywords: '333'
    })

    body
        .container
            .title
                | te32erewrwer

//- include ../js/main