include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=320, initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="assets/css/libs.css" media="all")
		link(rel="stylesheet" type='text/css' href="assets/css/main.css" media="all")
	body
		include ../components/header/header
		include ../components/modal/modal
		block content
		script(src="assets/js/libs.js")
		script(src="assets/js/main.js")
		block script
