@import "libs/normalize.scss";
@import "libs/bootstrap-grid.scss";
@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";
//@include sprites($spritesheet-sprites);

@import "./../pug/components/header/header.scss";

html {
	font-family: 'Open Sans', Arial, serif;
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #fff;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.button {
	padding: 21px 33px;
	display: inline-flex;
	background: $color-red;
	border: 0;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	font-family: 'Montserrat-SemiBold';
	font-size: 15px;
	text-transform: uppercase;
	color: $color-white;
	transition: $transition-base;

	&:hover {
		background: $color-red-light;
	}
}

.input {
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat-SemiBold';
	font-size: 14px;
	color: $color-white;
	background: 0;
	border: 0;
	border-bottom: 4px solid rgba($color: $color-white, $alpha: 0.25);
	outline: none;
	transition: $transition-base;

	&:hover,
	&:focus {
		border-color: $color-red;
	}

	&::placeholder {
		color: $color-white;
		opacity: 1;
	  }
	  
	&:-ms-input-placeholder {
		color: $color-white;
	}
	  
	&::-ms-input-placeholder {
		color:$color-white;
	}
}

.block-head {
	top: 0;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;

	&__body {
		margin-left: -30px;
		width: 85px;
		height: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color-gray-dark;
		border: 8px solid $color-gray-darked;
		border-radius: 50%;
	}

	&__icon {
		width: 37px;
		height: 37px;
		transform: translateZ(0);
	}
}

.container {
	position: relative;
}

// MAIN

.main {
	$p: &;

	padding: 30px 0 125px;
	background: url('../images/bg-main.png') no-repeat center;
	background-size: cover;

	&__body {
		margin-bottom: 85px;
		padding: 67px 0 87px 91px;
		position: relative;
		background: $color-gray-dark;
		border: 2px solid #303345;
		border-radius: 17px;
		overflow: hidden;
		box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.25), inset 0px 4px 36px rgba(0, 0, 0, 0.14);

		#{$p}__pc {
			bottom: 0;
			right: 0;
			position: absolute;
			transform: translateZ(0);
		}

		#{$p}__content {
			width: 400px;
		}

		#{$p}__title {
			font-family: 'Montserrat-ExtraBold';
			font-size: 53px;
			line-height: 64px;
			text-transform: uppercase;
			color: $color-white;
		}

		#{$p}__desc {
			margin-top: 10px;
			font-family: 'Montserrat-Regular';
			font-size: 19px;

			span {
				font-family: 'Montserrat-SemiBold';
			}
		}

		#{$p}__form {
			margin-top: 43px;
			display: flex;
			align-items: flex-end;
		}

		#{$p}__input {
			width: 24%;
		}

		#{$p}__button {
			margin-left: 30px;
		}

		#{$p}__text {
			margin-top: 14px;
			font-family: 'Montserrat-Regular';
			font-size: 11px;
			color: rgba($color: $color-white, $alpha: 0.4);
		}
	}

	&__list {
		margin: 0 0 84px 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		#{$p}__item {
			position: relative;
			width: 25%;

			&:hover {
				#{$p}__icon {
					background: $color-white;
					box-shadow: none;

					svg {
						fill: $color-red;
					}
				}
			}

			&:last-child {
				#{$p}__icon {
					svg {
						width: 36px;
					}
				}
			}
		}

		#{$p}__line {
			top: 26px;
			right: -40px;
			position: absolute;
			display: flex;
			flex-direction: row;

			span {
				margin-right: 6px;
				display: block;
				width: 4px;
				height: 4px;
				background: $color-red;
				border-radius: 50%;
			}

			&--second {
				right: 40px;
			}
		}

		#{$p}__icon {
			margin-bottom: 37px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 65px;
			height: 65px;
			background: $color-red;
			border-radius: 23px;
			box-shadow: 0px 4px 44px rgba(255, 52, 52, 0.82);
			transition: $transition-base;

			svg {
				width: 42px;
				fill: $color-white;
				transition: $transition-base;
			}
		}

		#{$p}__text {
			width: 225px;
		}
	}

	&__tags {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		#{$p}__down {
			margin-right: 4%;
			width: 47px;
			height: 47px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: 0;
			border: 4px dashed rgba($color: $color-white, $alpha: 0.5);
			border-radius: 50%;
			cursor: pointer;
			transition: $transition-base;

			&:hover {
				background: $color-red;
				border-color: $color-red;

				#{$p}__icon {
					svg {
						fill: $color-white;
					}
				}
			}
		}

		#{$p}__icon {
			svg {
				margin-top: -4px;
				width: 20px;
				height: 20px;
				fill: rgba($color: $color-white, $alpha: 0.5);
			}
		}

		#{$p}__words {
			display: flex;
			flex-direction: row;
		}

		#{$p}__item {
			margin-right: 10px;
			font-family: 'Montserrat-SemiBold';
			font-size: 11px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: rgba($color: $color-white, $alpha: 0.5);
		}
	}
}

// CAUSES

.causes {
	$p: &;

	position: relative;
	padding: 107px 0 185px;
	background: url('../images/bg-causes.png') no-repeat center;
	background-size: cover;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__block-head {
		top: -150px;
	}

	&__title {
		margin-bottom: 95px;
		font-family: 'Montserrat-SemiBold';
		font-size: 40px;
		color: $color-white;
		text-align: center;
	}

	&__list {
		margin: 0 0 30px 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 30px;
		padding: 50px 35px 76px 60px;
		width: 32%;
		background: rgba($color:#303449, $alpha: 0.35);
		border: 2px solid rgba($color:#3F435A, $alpha: 0.35);
		border-radius: 15px;
		transition: $transition-base;

		#{$p}__title {
			position: relative;
			margin-bottom: 30px;
			font-size: 21px;
			line-height: 28px;
			text-align: left;

			#{$p}__label {
				top: 7px;
				left: -20px;
				position: absolute;
				width: 10px;
				height: 10px;
				background: $color-red;
				border-radius: 50%;
				box-shadow: 0px 0px 19px rgba(255, 52, 52, 0.95);
			}
		}

		#{$p}__text {
			font-family: 'Montserrat-Regular';
			font-size: 16px;
			line-height: 23px;
			text-align: left;
			color: #B7B8BE;
		}

		&:hover {
			background: rgba($color:#161825, $alpha: 0.35);
			border: 2px solid rgba($color:#0E0E11, $alpha: 0.35);
		}

		&--long {
			width: 66%;
		}

		&--dark {
			background: rgba($color:#161825, $alpha: 0.35);
			border: 2px solid rgba($color:#0E0E11, $alpha: 0.35);
		}
	}

	&__button {
		margin: 0 auto;
	}
}

// SERVICES

.services {
	$p: &;

	position: relative;
	padding: 108px 0 139px;
	background: url('../images/bg-price.png') no-repeat center;
	background-size: cover;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__block-head {
		top: -148px;
	}

	&__block {
		margin-bottom: 120px;
		text-align: center;

		#{$p}__title {
			font-family: 'Montserrat-SemiBold';
			font-size: 40px;
			color: $color-white;
		}

		#{$p}__desc {
			font-family: 'Montserrat-Regular';
			font-size: 21px;
			color: $color-white;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {		
		width: 32%;

		#{$p}__view {
			margin-bottom: 20px;
			padding: 35px;
			display: flex;
			justify-content: center;
			background: rgba($color: #303449, $alpha: 0.35);
			border: 2px solid rgba($color: #3F435A, $alpha: 0.35);
			border-radius: 15px;

			img {
				height: 200px;
				transform: translateZ(0);
			}
		}
	}

	&__button {
		width: 100%;
		justify-content: center;
	}
}

// WARRANTY

.warranty {
	$p: &;

	position: relative;
	padding: 75px 0 195px;
	background: url('../images/bg-warranty.png') no-repeat center;
	background-size: cover;

	&__body {
		padding: 65px 55px;
		width: 80%;
		background: $color-gray-dark;
		border-radius: 4px;

		#{$p}__title {
			margin-bottom: 35px;
			font-family: 'Montserrat-ExtraBold';
			font-size: 53px;
			line-height: 60px;
			text-transform: uppercase;
		}

		#{$p}__field {
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#{$p}__text {
			font-size: 19px;

			&:nth-child(1) {
				width: 50%;
			}

			&:nth-child(2) {
				width: 40%;
			}

			&--bold {
				font-family: 'Montserrat-SemiBold';
			}

			&--full {
				width: 80% !important;
			}
		}

		#{$p}__button {
			margin-top: 45px;
		}
	}

	&--msi {
		background: url('../images/bg-msi.png') no-repeat center;
		background-size: cover;
	}
}

// CONTACTS

.contacts {
	$p: &;

	padding: 107px 0 17px;
	background: $color-gray-dark;

	&__container {
		position: relative;
	}

	&__block-head {
		top: -144px;
	}

	&__title {
		margin-bottom: 73px;
		font-family: 'Montserrat-SemiBold';
		font-size: 40px;
		color: $color-white;
		text-align: center;
	}

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 84px;
		width: 40%;
		display: flex;
		flex-direction: row;

		#{$p}__icon {
			margin-right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: 45px;
			background: $color-red;
			border-radius: 50%;

			svg {
				width: 23px;
				height: 23px;
				fill: $color-white;
			}
		}

		&:nth-child(3) {
			svg {
				width: 30px;
				height: 30px;
			}
		}

		&:nth-child(1),
		&:nth-child(3) { 
			width: 60%;
		}

		#{$p}__title {
			margin: -6px 0 0 0;
			padding: 0;
			font-size: 21px;
			text-align: left;
		}

		#{$p}__text {
			&--bold {
				font-family: 'Montserrat-SemiBold';
			}
		}
	}
}
