@import "libs/normalize.scss";
@import "libs/bootstrap-grid.scss";
@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";
//@include sprites($spritesheet-sprites);

@import "./../pug/components/header/header.scss";

html {
	font-family: 'Open Sans', Arial, serif;
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #fff;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.button {
	padding: 21px 33px;
	display: inline-flex;
	background: $color-red;
	border: 0;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	font-family: 'Montserrat-SemiBold';
	font-size: 15px;
	text-transform: uppercase;
	color: $color-white;
	transition: $transition-base;

	&:hover {
		background: $color-red-light;
	}
}

.input {
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat-SemiBold';
	font-size: 14px;
	color: $color-white;
	background: 0;
	border: 0;
	border-bottom: 4px solid rgba($color: $color-white, $alpha: 0.25);
	outline: none;
	transition: $transition-base;

	&:hover,
	&:focus {
		border-color: $color-red;
	}

	&::placeholder {
		color: $color-white;
		opacity: 1;
	  }
	  
	&:-ms-input-placeholder {
		color: $color-white;
	}
	  
	&::-ms-input-placeholder {
		color:$color-white;
	}
}

.block-head {
	top: 0;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;

	&__body {
		margin-left: -30px;
		width: 85px;
		height: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color-gray-dark;
		border: 8px solid $color-gray-darked;
		border-radius: 50%;
	}

	&__icon {
		width: 37px;
		height: 37px;
		transform: translateZ(0);
	}
}

.container {
	position: relative;
}

// MAIN

.main {
	$p: &;

	padding: 30px 0 125px;
	background: url('../images/bg-main.png') no-repeat center;
	background-size: cover;

	&__body {
		margin-bottom: 85px;
		padding: 67px 0 87px 91px;
		position: relative;
		background: $color-gray-dark;
		border: 2px solid #303345;
		border-radius: 17px;
		overflow: hidden;
		box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.25), inset 0px 4px 36px rgba(0, 0, 0, 0.14);

		#{$p}__pc {
			bottom: 0;
			right: 0;
			position: absolute;
			transform: translateZ(0);

			@media (max-width: 1199px) {
				display: none;
			}
		}

		#{$p}__content {
			width: 400px;

			@media (max-width: 480px) {
				width: 100%;
			}
		}

		#{$p}__title {
			font-family: 'Montserrat-ExtraBold';
			font-size: 53px;
			line-height: 64px;
			text-transform: uppercase;
			color: $color-white;

			@media (max-width: 480px) {
				width: 100%;
				font-size: 32px;
				line-height: 42px;
			}
		}

		#{$p}__desc {
			margin-top: 10px;
			font-family: 'Montserrat-Regular';
			font-size: 19px;

			span {
				font-family: 'Montserrat-SemiBold';
			}

			@media (max-width: 480px) {
				font-size: 16px;
				padding-right: 10%;
			}
		}

		#{$p}__form {
			margin-top: 43px;
			display: flex;
			align-items: flex-end;

			@media (max-width: 480px) {
				flex-direction: column;
			}
		}

		#{$p}__input {
			width: 24%;

			@media (max-width: 992px) {
				width: 40%;      
			}

			@media (max-width: 480px) {
				width: 100%;
			}
		}

		#{$p}__button {
			margin-left: 20px;

			@media (max-width: 480px) {
				margin-top: 30px;
				margin-left: 0;
				width: 100%;
				display: block;
				justify-content: center;
				text-align: center;
			}
		}

		#{$p}__text {
			margin-top: 14px;
			font-family: 'Montserrat-Regular';
			font-size: 11px;
			color: rgba($color: $color-white, $alpha: 0.4);
		}

		@media (max-width: 992px) {
			margin-bottom: 40px;     
		}

		@media (max-width: 767px) {
			padding: 30px;
		}
	}

	&__list {
		margin: 0 0 84px 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		#{$p}__item {
			position: relative;
			width: 25%;

			&:hover {
				#{$p}__icon {
					background: $color-white;
					box-shadow: none;

					svg {
						fill: $color-red;
					}
				}
			}

			&:last-child {
				#{$p}__icon {
					svg {
						width: 36px;
					}
				}
			}

			@include large {
				margin-bottom: 30px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			@media (max-width: 480px) {
				flex-direction: column;
				text-align: center;
			}
		}

		#{$p}__line {
			top: 26px;
			right: -40px;
			position: absolute;
			display: flex;
			flex-direction: row;

			span {
				margin-right: 6px;
				display: block;
				width: 4px;
				height: 4px;
				background: $color-red;
				border-radius: 50%;
			}

			&--second {
				right: 40px;
			}

			@include large {
				display: none;
			}
		}

		#{$p}__icon {
			margin-bottom: 37px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 65px;
			height: 65px;
			background: $color-red;
			border-radius: 23px;
			box-shadow: 0px 4px 44px rgba(255, 52, 52, 0.82);
			transition: $transition-base;

			svg {
				width: 42px;
				fill: $color-white;
				transition: $transition-base;
			}

			@include large {
				margin-bottom: 0;
				margin-right: 20px;
				height: 57px;
			}

			@media (max-width: 480px) {
				margin-bottom: 30px;
				margin-right: 0;
				height: 67px;
			}
		}

		#{$p}__text {
			width: 225px;

			@include large {
				width: 100%;
			}
		}

		@media (max-width: 992px) {
			margin-bottom: 40px;    
		}

		@include large {
			flex-direction: column;
		}

		@media (max-width: 480px) {
			margin-bottom: 0;
		}
	}

	&__tags {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		#{$p}__down {
			margin-right: 4%;
			width: 47px;
			height: 47px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: 0;
			border: 4px dashed rgba($color: $color-white, $alpha: 0.5);
			border-radius: 50%;
			cursor: pointer;
			transition: $transition-base;

			&:hover {
				background: $color-red;
				border-color: $color-red;

				#{$p}__icon {
					svg {
						fill: $color-white;
					}
				}
			}

			@media (max-width: 992px) {
				display: none;
			}
		}

		#{$p}__icon {
			svg {
				margin-top: -4px;
				width: 20px;
				height: 20px;
				fill: rgba($color: $color-white, $alpha: 0.5);
			}
		}

		#{$p}__words {
			display: flex;
			flex-direction: row;
		}

		#{$p}__item {
			margin-right: 10px;
			font-family: 'Montserrat-SemiBold';
			font-size: 11px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: rgba($color: $color-white, $alpha: 0.5);
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	@media (max-width: 992px) {
		padding-bottom: 80px;
	}
}

// CAUSES

.causes {
	$p: &;

	position: relative;
	padding: 107px 0 185px;
	background: url('../images/bg-causes.png') no-repeat center;
	background-size: cover;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__block-head {
		top: -150px;

		@media (max-width: 992px) {
			top: -120px;  
		}
	}

	&__title {
		margin-bottom: 95px;
		font-family: 'Montserrat-SemiBold';
		font-size: 40px;
		color: $color-white;
		text-align: center;

		@media (max-width: 992px) {
			margin-bottom: 40px;
		}

		@media (max-width: 480px) {
			font-size: 28px;
		}
	}

	&__list {
		margin: 0 0 30px 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 30px;
		padding: 50px 35px 76px 60px;
		width: 32%;
		background: rgba($color:#303449, $alpha: 0.35);
		border: 2px solid rgba($color:#3F435A, $alpha: 0.35);
		border-radius: 15px;
		transition: $transition-base;

		#{$p}__title {
			position: relative;
			margin-bottom: 30px;
			font-size: 21px;
			line-height: 28px;
			text-align: left;

			#{$p}__label {
				top: 7px;
				left: -20px;
				position: absolute;
				width: 10px;
				height: 10px;
				background: $color-red;
				border-radius: 50%;
				box-shadow: 0px 0px 19px rgba(255, 52, 52, 0.95);
			}

			@media (max-width: 992px) {
				margin-bottom: 10px; 
			}
		}

		#{$p}__text {
			font-family: 'Montserrat-Regular';
			font-size: 16px;
			line-height: 23px;
			text-align: left;
			color: #B7B8BE;
		}

		&--long {
			width: 66%;

			@media (max-width: 992px) {
				width: 100%;   
			}
		}

		&--dark {
			background: rgba($color:#161825, $alpha: 0.35);
			border: 2px solid rgba($color:#0E0E11, $alpha: 0.35);
		}

		@media (max-width: 992px) {
			padding: 26px 26px 26px 40px;
			width: 100%;   
		}
	}

	&__button {
		margin: 0 auto;
		display: block;
		width: 350px;
		text-align: center;
	}

	@media (max-width: 992px) {
		padding: 80px 0; 
	}
}

// SERVICES

.services {
	$p: &;

	position: relative;
	padding: 108px 0 139px;
	background: url('../images/bg-price.png') no-repeat center;
	background-size: cover;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__block-head {
		top: -148px;

		@media (max-width: 992px) {
			top: -120px; 
		}
	}

	&__block {
		margin-bottom: 60px;
		text-align: center;

		#{$p}__title {
			font-family: 'Montserrat-SemiBold';
			font-size: 40px;
			color: $color-white;

			@media (max-width: 480px) {
				font-size: 28px;
			}
		}

		#{$p}__desc {
			margin-top: -20px;
			font-family: 'Montserrat-Regular';
			font-size: 21px;
			line-height: 104px;
			color: $color-white;
			background: url('../images/shadow-1.png') no-repeat center top;
		}

		@media (max-width: 992px) {
			margin-bottom: 30px; 
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: 480px) {
			flex-direction: column;
		}
	}

	&__item {		
		width: 32%;

		#{$p}__view {
			margin-bottom: 20px;
			padding: 35px;
			display: flex;
			justify-content: center;
			background: rgba($color: #303449, $alpha: 0.35);
			border: 2px solid rgba($color: #3F435A, $alpha: 0.35);
			border-radius: 15px;
			transition: $transition-base;
			cursor: pointer;

			img {
				height: 200px;
				transform: translateZ(0);

				@media (max-width: 992px) {
					height: 100px;
				}

				@media (max-width: 480px) {
					height: 160px;
				}
			}
		}

		&:hover {
			#{$p}__view {
				background: rgba($color: #4A4F6C, $alpha: 0.35);
			}

			#{$p}__button {
				background: $color-red-light;
			}
		}

		@media (max-width: 480px) {
			margin-bottom: 30px;
			width: 100%;
		}
	}

	&__button {
		width: 100%;
		justify-content: center;
	}

	@media (max-width: 992px) {
		padding: 80px 0; 
	}
}

// MASTER

.master {
	$p: &;

	padding: 0 0 102px 0;
	position: relative;
	background: $color-gray-darked;

	&__head {
		position: relative;
		display: flex;
		justify-content: center;

		#{$p}__avatar {
			position: absolute;
			width: 160px;
			margin-top: -80px;
			border: 8px solid $color-gray-darked;
			border-radius: 50%;
			transform: translateZ(0);

			@media (max-width: 992px) {
				margin-top: -40px;
				width: 120px;  
			}
		}
	}

	&__info {
		margin-top: 100px;
		margin-bottom: 30px;
		text-align: center;

		#{$p}__name {
			font-family: 'Montserrat-SemiBold';
			font-size: 19px;
			text-align: center;
		}

		#{$p}__desc {
			font-family: 'Montserrat-Regular';
			font-size: 16px;
			text-align: center;
		}
	}

	&__quote {
		position: relative;
		margin: 0 auto;
		max-width: 725px;
		font-family: 'Montserrat-Regular';
		font-size: 19px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.01em;

		&::before {
			bottom: -110px;
			left: -10px;
			width: 111px;
			height: 154px;
			position: absolute;
			content: '';
			background: url('../images/kov.png') no-repeat;

			@media (max-width: 992px) {
				zoom: 0.5;
				transform: translateZ(0);
			}
		}

		&::after {
			top: -110px;
			right: -10px;
			width: 111px;
			height: 154px;
			position: absolute;
			content: '';
			background: url('../images/kov.png') no-repeat;
			transform: rotate(180deg);

			@media (max-width: 992px) {
				top: -80px;
				zoom: 0.5;
				transform: translateZ(0);
			}
		}

		@media (max-width: 992px) {
			font-size: 14px;
		}
	}

	&__footer {
		margin-top: 96px;
		padding-top: 65px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-top: 2px dashed #454549;

		#{$p}__persons {
			margin-top: 40px;
			width: 75%;

			@media (max-width: 992px) {
				margin: 0 auto;
			}
		}

		#{$p}__list {
			margin-bottom: 40px;
			display: flex;
			flex-direction: row;
		}

		#{$p}__item {
			margin-left: -40px;
			width: 110px;
			height: 110px;
			border: 8px solid $color-gray-dark;
			border-radius: 50%;
			transform: translateZ(0);

			&:first-child {
				margin-left: 0;
			}

			&:nth-child(6) {
				@media (max-width: 767px) {
					display: none;
				}
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				@media (max-width: 480px) {
					display: none;
				}
			}
		}

		#{$p}__icon {
			margin: 50px 0 0 40px;
			width: 61px;
			height: 54px;

			svg {
				width: 61px;
				height: 54px;
				fill: $color-red;
			}

			@media (max-width: 992px) {
				display: none;  
			}
		}

		#{$p}__desc {
			width: 35%;

			@media (max-width: 992px) {
				margin: 0 auto;
				width: 75%;
			}
		}

		#{$p}__title {
			margin-bottom: 23px;
			font-family: 'Montserrat-SemiBold';
			font-size: 21px;
			line-height: 28px;
		}

		#{$p}__text {
			margin-bottom: 50px;
			font-family: 'Montserrat-Regular';
			font-size: 16px;
			line-height: 23px;
			color: #B7B8BE;
		}

		#{$p}__button {
			width: 100%;
			justify-content: center;

			@media (max-width: 992px) {
				width: 100%;   
			}
		}

		@media (max-width: 992px) {
			flex-direction: column;
			justify-content: center;
		}
	}
}

// STAGES

.stages {
	$p: &;

	padding: 109px 0 115px 0;
	position: relative;
	background: url('../images/bg-stages.png') no-repeat center;
	background-size: cover;

	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__block-head {
		top: -150px;

		@media (max-width: 992px) {
			top: -100px
		}
	}

	&__title {
		margin-bottom: 127px;
		font-family: 'Montserrat-SemiBold';
		font-size: 40px;
		color: $color-white;
		text-align: center;

		@media (max-width: 992px) {
			margin-bottom: 60px; 
		}

		@media (max-width: 480px) {
			font-size: 28px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: 480px) {
			flex-direction: column;
		}
	}

	&__item {
		margin-bottom: 100px;
		position: relative;
		width: 33.3%;

		#{$p}__line {
			top: 26px;
			right: -40px;
			position: absolute;
			display: flex;
			flex-direction: row;

			&--first {
				right: 100px;
			}

			span {
				margin-right: 6px;
				display: block;
				width: 4px;
				height: 4px;
				background: $color-red;
				border-radius: 50%;
			}

			&--second {
				right: 40px;
			}

			@media (max-width: 992px) {
				display: none; 
			}
		}

		#{$p}__status {
			position: relative;
			margin-bottom: 30px;
			width: 64px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #2C2F44;
			font-family: 'Montserrat-SemiBold';
			font-size: 24px;
			box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.18), inset 0px 4px 36px rgba(0, 0, 0, 0.14);
			border: 1px solid $color-gray-light;
			border-radius: 50%;

			@media (max-width: 480px) {
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}

		#{$p}__title {
			margin-bottom: 20px;
			font-family: 'Montserrat-SemiBold';
			font-size: 21px;
			line-height: 28px;
			text-align: left;

			@media (max-width: 480px) {
				text-align: center;
			}
		}

		#{$p}__text {
			width: 70%;
			font-family: 'Montserrat-Regular';
			font-size: 16px;
			line-height: 23px;
			text-align: left;
			color: #B7B8BE;

			@media (max-width: 992px) {
				width: 90%;   
			}

			@media (max-width: 480px) {
				width: 100%;
				text-align: center;
			}
		}

		@media (max-width: 992px) {
			margin-bottom: 40px;
			width: 50%;
		}

		@media (max-width: 480px) {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
	}

	&__button {
		margin: 0 auto;
		display: block;
		width: 350px;
		text-align: center;
	}

	@media (max-width: 992px) {
		padding: 60px 0;
	}
}

.circle {
	top: -2px;
	left: -2px;
	position: absolute;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	border: 4px solid $color-red;
	border-top-color: none;
	transform: rotate(0);
	transition: $transition-base;

	&--first {
		border-top-color: transparent;
		transform: rotate(45deg);
	}

	&--second {
		border-top-color: transparent;
		transform: rotate(140deg);
	}

	&--third {
		border-top-color: transparent;
		transform: rotate(310deg);
	}

	&--fourth {
		border-top-color: transparent;
		transform: rotate(220deg);
	}
}

// WARRANTY

.warranty {
	$p: &;

	position: relative;
	padding: 75px 0 195px;
	background: url('../images/bg-warranty.png') no-repeat center;
	background-size: cover;

	&__body {
		padding: 65px 55px;
		width: 82%;
		background: $color-gray-dark;
		border-radius: 4px;

		#{$p}__title {
			margin-bottom: 35px;
			font-family: 'Montserrat-ExtraBold';
			font-size: 53px;
			line-height: 60px;
			text-transform: uppercase;

			.shadow--first {
				margin-left: -70px;
				padding: 70px;
				background: url('../images/shadow-2.png') no-repeat center;

				@media (max-width: 992px) {
					background: 0;
				}
			}

			.shadow--second {
				margin-left: -70px;
				padding: 70px;
				background: url('../images/shadow-3.png') no-repeat center;

				@media (max-width: 992px) {
					background: 0;
				}
			}

			@media (max-width: 992px) {
				font-size: 37px;
				line-height: 44px;
			}

			@media (max-width: 767px) {
				font-size: 24px;
				line-height: 38px;
			}
		}

		#{$p}__field {
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#{$p}__text {
			font-size: 19px;

			&:nth-child(1) {
				width: 50%;
			}

			&:nth-child(2) {
				width: 40%;
			}

			&--bold {
				font-family: 'Montserrat-SemiBold';
			}

			&--full {
				width: 80% !important;
			}
		}

		#{$p}__button {
			margin-top: 45px;
		}

		@media (max-width: 992px) {
			width: 100%;   
		}
	}

	&--msi {
		background: url('../images/bg-msi.png') no-repeat center;
		background-size: cover;
	}

	@media (max-width: 992px) {
		padding: 60px 0 80px;
	}
}

// OPTIONS

.options {
	$p: &;

	padding: 123px 0 198px;
	background: $color-gray-darked url('../images/bg-options.png') no-repeat center;
	background-size: cover;

	&__container {
		position: relative;
	}

	&__block-head {
		top: -164px;

		@media (max-width: 992px) {
			top: -100px;
		}
	}

	&__title {
		margin-bottom: 127px;
		font-family: 'Montserrat-SemiBold';
		font-size: 40px;
		color: $color-white;
		text-align: center;

		@media (max-width: 992px) {
			margin-bottom: 80px;
		}

		@media (max-width: 480px) {
			font-size: 28px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__item {
		position: relative;
		width: 49%;
		padding: 78px 95px 43px;
		background: rgba($color: #303449, $alpha: 0.35);
		border: 2px solid rgba($color: #3F435A, $alpha: 0.35);
		border-radius: 15px;

		#{$p}__block-head {
			margin-left: -70px;
			top: -40px;

			@media (max-width: 992px) {
				top: -44px;
				margin-left: -10px; 
			}
		}

		.block-head__body {
			&--red {
				background: $color-red;
			}

			&--blue {
				background: #3455FF;
			}
		}

		#{$p}__title {
			margin-bottom: 41px;
			font-size: 21px;

			@media (max-width: 992px) {
				margin-bottom: 30px;
			}
		}

		#{$p}__button {
			width: 100%;
			justify-content: center;
		}

		@media (max-width: 992px) {
			padding: 50px 30px; 
		}

		@media (max-width: 767px) {
			margin-bottom: 60px;
			width: 100%;
		}
	}

	@media (max-width: 992px) {
		padding: 60px 0 80px; 
	}
}

// CONTACTS

.contacts {
	$p: &;

	padding: 107px 0 17px;
	background: $color-gray-dark;

	&__container {
		position: relative;
	}

	&__block-head {
		top: -144px;

		@media (max-width: 992px) {
			top: -100px; 
		}
	}

	&__title {
		margin-bottom: 73px;
		font-family: 'Montserrat-SemiBold';
		font-size: 40px;
		color: $color-white;
		text-align: center;

		@media (max-width: 480px) {
			font-size: 28px;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-bottom: 84px;
		width: 40%;
		display: flex;
		flex-direction: row;

		#{$p}__icon {
			margin-right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: 45px;
			background: $color-red;
			border-radius: 50%;

			svg {
				width: 23px;
				height: 23px;
				fill: $color-white;
			}
		}

		&:nth-child(3) {
			svg {
				width: 30px;
				height: 30px;
			}
		}

		&:nth-child(1),
		&:nth-child(3) { 
			width: 60%;

			@media (max-width: 992px) {
				width: 100%;   
			}
		}

		#{$p}__title {
			margin: -6px 0 0 0;
			display: block;
			padding: 0;
			font-size: 21px;
			text-align: left;
			text-decoration: none;
		}

		#{$p}__text {
			&--bold {
				font-family: 'Montserrat-SemiBold';
			}
		}

		@media (max-width: 992px) {
			width: 100%;
			padding: 0 20%;
		}

		@media (max-width: 767px) {
			padding: 0 10%;
		}

		@media (max-width: 480px) {
			padding: 0;
		}
	}

	@media (max-width: 992px) {
		padding: 60px 0 0 0;
	}
}

// FEEDBACK

.feedback {
	$p: &;

	padding: 60px 0 112px;
	background: $color-gray-darked;

	&__title {
		margin-bottom: 45px;
		font-family: 'Montserrat-SemiBold';
		font-size: 21px;
	}

	&__field {
		margin-bottom: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-wrap: wrap;
		}

		@media (max-width: 480px) {
			flex-wrap: nowrap;
			flex-direction: column;
		}
	}

	&__input {
		margin-right: 36px;
		width: 30%;

		@media (max-width: 767px) {
			margin-right: 0;
			width: 47%;
		}

		@media (max-width: 480px) {
			margin-bottom: 30px;
			width: 100%;
		}
	}

	&__button {
		width: 30%;
		justify-content: center;

		@media (max-width: 992px) {
			width: 50%;   
		}

		@media (max-width: 767px) {
			margin-left: auto;
			margin-top: 40px;
			width: 47%;
			font-size: 14px;
		}

		@media (max-width: 480px) {
			width: 100%;
		}
	}

	&__text {
		color: rgba($color: $color-white, $alpha: 0.4);
	}

	@media (max-width: 992px) {
		padding-bottom: 60px;
	}

	@media (max-width: 480px) {
		padding-bottom: 0;
	}
}

// FOOTER

.footer {
	background: $color-gray-darked;

	&__container {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 992px) {
			padding-bottom: 60px;
			flex-wrap: wrap;
		}

		@media (max-width: 480px) {
			flex-wrap: nowrap;
			flex-direction: column;
		}
	}

	&__logo {
        position: relative;
        margin: 20px 0 0 -30px;
        display: flex;
        flex-direction: row;

        img {
            fill: $color-white;
			zoom: 0.5;
			transform: translateZ(0);
        }
	}

	.logo__content {
		margin: 44px 0 0 20px;
	}

	&__link,
	&__text {
		margin-top: 10px;
		font-family: 'Montserrat-Regular';
		font-size: 14px;
		color: rgba($color: $color-white, $alpha: 0.4);
	}

	.page-up {
		margin-top: 10px;
		width: 45px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color-gray-dark;
		border-radius: 50%;
		transition: $transition-base;

		svg {
			margin-top: 4px;
			width: 25px;
			height: 25px;
		}

		&:hover {
			background: #4A4F6C;

			svg {
				fill: $color-white;
			}
		}

		@media (max-width: 480px) {
			margin-top: 40px;
		}
	}
}