mixin icon(name, className)
	if (className)
		svg(class=className + "__" + name + " " + "icon-" + name)
			use(xlink:href="assets/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="icon-" + name)
			use(xlink:href="assets/images/sprite/symbol/sprite.svg#" + name)